*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header{
    background-color: #ffd188;
    height: 100px;
}

.container_cabecalho{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    background-color: aliceblue;
    margin: 0 auto;
    height: 100%;
    align-items: center;
}

.icone_home{
    height: 50px;
}

.box_busca{
    position: relative;
    
}

.icone_lupa{
    height:24px ;
    position: absolute;
    top: 10px;
    left: 9px;
    fill: 
}

.icone_logo{
    height: 60px;
}

.campo_busca{
    width:500px ;
    height: 42px;
    border-radius: 10px;
    border: solid 1px #cccccc
}
