* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bellota", system-ui;
}

:root {
  --corprincipal: #FFD188;
  --arredondamento: 10px;
  --sombramento: 0 4px 4px 2px #00000025;

}

body {
  background-color: #FFF6E8;
}

header {
  background-color: var(--corprincipal);
  height: 100px;
}

.container_cabecalho {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;
  /* background-color: aquamarine; */
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.icone_home {
  height: 50px;
  cursor: pointer;
}

.box_busca {
  position: relative;
  width: 60%;
  max-width: 500px;
  margin: 0 10px;
}

.icone_lupa {
  height: 24px;
  position: absolute;
  left: 9px;
  top: 9px;
  fill: #b0b0b0;
  cursor: pointer;
}

.logo {
  height: 60px;
}

.campo_busca {
  width: 100%;
  height: 42px;
  border-radius: 10px;
  border: solid 1px #cccccc;
  padding-left: 2.5rem;
  font-size: 1rem;
}

.acessivel {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

/*CADRASTO*/
.container_lista,
.container_cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_lista h2,
.container_cadastro h2 {
  font-size: 48px;
  margin-top: 100px;
}

.container_lista hr,
.container_cadastro hr {
  width: 300px;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: var(--corprincipal);
  margin-bottom: 100px;
}

.box_cadastro {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1440px;

}

.cadastro_coluna1 {
  width: 45%;
}

.cadastro_coluna2 {
  width: 45%;
}

.categoria_img {
  display: flex;
  justify-content: space-between;
}

.valor_peso {
  display: flex;
  justify-content: space-between;
}

.categoria,
.img,
.valor,
.peso,
.cadastro_coluna2,
.bolos {
  display: flex;
  flex-direction: column;
}

.categoria {
  width: 70%;
}

.box_cadastro label {
  font-size: 20px;
}

.box_cadastro input[type="text"],
.box_cadastro textarea {
  border-radius: 10px;
  border: solid 1px #b3b3b3;
  font-size: 18PX;
  padding: 0 5PX;
}


.box_cadastro input[type="text"] {
  height: 40px;
  margin-bottom: 20px;

}



.box_cadastro textarea {

  resize: none;
  height: 200px;

}

.container_cadastro input[type="button"] {
  font-size: 26px;
  margin: 50px 0;
  border-radius: 10px;
  border: none;
  background-color: var(--corprincipal);
  padding: 10px 200px;
  box-shadow: 0 4px 4px 2px #00000025;
  cursor: pointer;
}

.img {
  width: 20%;
}

.img svg {
  width: 30px;
}

input[type="file"] {
  display: none;
}


.img div {
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.valor {
  width: 50%;
}

.peso {
  width: 40%;
}

/*LISTA*/
table {
  width: 90%;
  max-width: 1200px;
  text-align: center;
  border-collapse: collapse;
}

th {
  border-bottom: solid 2px var(--corprincipal);
  padding: 0 3px 5px 3px;
  font-size: 18px;
}

td {
  padding: 10px 3px 5px 3px;
  border-bottom: solid 2px #b3b3b350;
}


table svg {
  width: 30px;
  cursor: pointer;
}

/*RODAPE*/
footer{
    width: 100%;
    height: 60px;
    background-color: #ffd188;
    display: flex;
    justify-content: center;
    align-items: center;
}
   footer p{
      font-family: "Julius Sans One", sans-serif;
      text-align: center;
   }
    

/* MEDIA*/
@media screen and (max-width:1000px) {
  table {
    width: 98%;
  }
}

@media screen and (max-width:768px) {
  .box_cadastro {
    flex-direction: column;
  }


  .cadastro_coluna1,
  .cadastro_coluna2 {
    width: 100%;
  }

  .container_cadastro input [ type="button"] {
    padding: 10px 100px;

  }

  /*LISTA*/
  table {
    text-align: left;
    max-width: 460px;
  }
  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-radius: var(--arredondamento);
    border: solid 1px var(--corprincipal);
    box-shadow: var(--sombramento);
    
  }

  td{
    border-bottom: none;
  }

  td::before {
    content: attr(data-cell);
    font-weight: 600;
    border-bottom: solid 2px #b3b3b350;
  }

  td:last-child{
  align-self: flex-end;
}

}
